*{
	margin:0;
	padding:0;
}
html,body {
    height:100%;
}

.header {
	background-color: yellow;
	float: top;
	height: 50px;
}

.container {
	float: top;
	background-color: red;
	bottom: 0px;
}

.font-browser {
	postion: relative;
	float: left;
	width: 150px;
	height: 200px;
	background-color: blue;
}

.editor {
	position: relative;
	float: left;
	width: 100%;
	background-color: green;
	height:200px;
}
